

#top-bar {
    background-color: black;
    color: red;
    font-size: xx-large;
    font-weight: 600;
    padding: 10px;    
}

#search-area{
    margin-top: 13px;
    padding: 13px;
}

#search-area input{
    padding: 14px 14px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 6px;
}
