

#top-bar {
    background-color: black;
    color: red;
    font-size: xx-large;
    font-weight: 600;
    padding: 10px;    
}

#search-area{
    margin-top: 13px;
    padding: 13px;
}


#search-area button{
    background-color: red;
    padding: 9px;
    margin: 0px 3px;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}
#search-area button:hover{
    background-color: rgb(229, 36, 36, 0.5);
}

#all-plants{
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
}
.a-plant img{
    height: 30em;
    width: auto;
    display: block;
}
.a-plant div{
    background-color: orange;
    color: white;
    padding: 3ex;
    border-radius: 0px 10px;
}
.a-plant span{
    margin-left: 9px;
    font-size: large;
    font-weight: bold;
}
#pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#pagination span{
    font-size: large;
    font-weight: 300;
    color: red;
    margin-left: 13px;
    margin-right: 13px;
}

